<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./inc/head.ejs') %>
</head>
<body>
    <%- include('./inc/nav.ejs') %>
    <% let name = 'kübra' %>
   <section>
    <h1>Hakkımızda</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt assumenda quibusdam molestiae doloremque aspernatur minima at eius sequi omnis qui!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt assumenda quibusdam molestiae doloremque aspernatur minima at eius sequi omnis qui!</p>
   </section>
</body>
</html>