<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./inc/head.ejs') %>
</head>
<body>
    <%- include('./inc/nav.ejs') %>
    <section>
        <form action="" method="post">
         <input type="text" name="username" id="" placeholder="Kullanıcı adı">
         <input type="text" name="password" id="" placeholder="Parola">
         <input type="submit" value="Gönder">
        </form>
    </section>
</body>
</html>